form.edit-form {
  padding: 2%;
  padding-right: 5%;
  overflow: scroll;
  height: 100%;
  max-height: 100vh;
  > label {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  input, textarea, select {
    background: none;
    border: 2px solid black;
    font-size: 1rem;
    margin-bottom: 15px;
    padding-left: 5px;
  }
  [type=checkbox] {
    appearance: none;
    height: 20px;
    width: 20px;
    margin-right: 2px;
    cursor: pointer;
    margin-bottom: 0;
  }
  [type=checkbox]:checked:before {
    font-size: 15px;
    font-family: system-ui;
    font-weight: 900;
    position: relative;
    left: -4px;
    top: -4px;
    content: "✓";
  }
  [name=seen] {
    margin-bottom: 15px;
  }
  button {
    margin-top: 20px;
  }
}

.success-message-div {
  flex-direction: column;
  padding: 50px;
  padding-left: 0;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  align-items: center;
  text-align: center;
  button {
    margin: 15px 0;
  }
  img {
    width: 90%;
  }
}

@media screen and (max-width: 1050px) {
  .edit-form {
    margin-top: 40px;
  }
  .success-message-div {
    padding-right: 0;
  }
  h2 {
    font-size: 2.5rem;
  }
}