.not-found-container {
  height: 85%;
  width: 100%;
  .not-found-div {
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    h1 {
      margin-top: 10px;
      overflow: hidden;
    }
    img {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 950px) {
  .not-found-page {
    nav {
      height: 20%;
    }
  }

  .not-found-container {
    height: 50%;
  }
}