section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  .movie-page-title {
    margin: 10px 0;
    font-size: 2.3rem;
  }
  .movie-interactions-div {
    flex-direction: column;
    width: 100%;
    max-height: calc(100% - 15px);
    padding-bottom: 10px;
  }
  .full-cast {
    height: 100vh;
  }
  .movie-stats-div {
    flex-wrap: wrap;
    margin-bottom: 10px;
    div {
      flex-wrap: wrap;
    }
  }
  .movie-info-div {
    max-height: 80%;
    padding-bottom: 50px;
  }
  .movie-info {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    margin-right: 10px;
  }
  p.movie-overview {
    margin-right: 20px;
  }
  .movie-page-genres-div {
    flex-wrap: wrap;
    align-items: start;
    width: 25%;
    height: calc(10vh - 10%);
  }
  .movie-page-genres {
    display: inline;
    font-size: 1rem;
    margin-left: 5px;
    text-transform: uppercase;
  }
  .cast-container{
    margin-top: 10px;
    flex-direction: column;
  }
  .profile-card-container {
    flex-wrap: wrap;
    padding-bottom: 35px;
  }
}
.movie-view-backdrop {
  height: auto;
  width: auto;
  max-width: 100%;
}

.edit-link {
  cursor: default
}

@media screen and (max-width: 1024px) {
  .movie-stats-div {
    flex-wrap: wrap;
    .director {
      margin-bottom: 10px;
    }
  }
  .chosen-by-span {
    display: none;
  }
  section {
    margin-left: 0;
    h1.movie-page-title {
        overflow-wrap:break-word;
      }
      .movie-info {
        line-height: 25px;
      }
    .movie-info-div {
      flex-direction: column;
      max-height: none;
      flex-direction: column-reverse;
    }
    .movie-page-genres-div {
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    }
  }  
}

@media screen and (max-width: 450px) {
  .watched-div {
    margin-top: 10px;
  }
}