* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Prompt', sans-serif;
}

button, a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-style: italic;
  font-size: 2.08rem;
  font-weight: 900;
  transition: color 200ms ease-in-out;
    &:hover {
    // cursor: pointer;
    color: white;
  }
}

a {
  text-decoration: none;
  color: #000000;
  font-style: italic;
  font-size: 2.08rem;
  font-weight: 900;
}

button {
    display: inline;
    background: none;
    border: none;
    color: #000000;
    font-size: 2.08rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus {
    outline: none;
  }
}

div {
  display: flex;
}
.App {
  display: flex;
  min-height: 100vh;
  overflow: auto;
}


@media screen and (max-width: 950px) {
  .App {
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
}

.code-of-conduct-page {
  background-image: linear-gradient(to right, #FDE997, #FF9300);
}

.genres-list-view {
  background-image: linear-gradient(to right, #FDE997, #920099);
}

.landing-page {
  background-image: linear-gradient(to right, #FDE997, #EC0000);
}

.genre-page {
  background-image: linear-gradient(to right, #FDE997, #5ADA44);
}

.previously-watched {
  background-image: linear-gradient(to right, #FDE997, #FF3399);
}

.movie-view {
  background-image: linear-gradient(to right, #FDE997, #00D8FF);
}