* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Prompt', sans-serif;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */