.movie-link {
  margin-bottom: 35px;
  &:hover {
    .card-image{
      outline-offset: -5px;
      outline: 5px solid white;
    }
    color: #000000;
  }
}
.movie {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  margin: 0 10px 15px;
  width: 175px;
  max-height: 500px;
  text-align: center;
  .card-image {
    width: 100%;
    height: auto;
    min-height: 262px; 
  }

  .card__text-container {
    flex-direction: column;
      h4 {
    line-height: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    p {
      font-size: 0.9rem;
      font-weight: 300;
    }
    p.card__release-date {
      font-size: 1.2rem;
    }
  }
  .movie-genres-container {
    flex-direction: column;
    min-height: 10px;
  }
  .director-icons-container {
    margin: 10px auto;
    justify-content: center;
  }
  .director-icon {
    height: 40px;
    width: 40px;
    &:hover {
      fill: white;
    }
  }
}