$bar-width: 50px;
$bar-height: 5px;
$bar-spacing: 14px;

h1, h2, h4 {
  font-size: 3.5rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
}

.nav-headers-container {
  flex-direction: column;
  width: 100%;
  min-width: 435px;
  h2 {
    hyphens: auto;
    margin-top: 50px;
  }
  .home-link:hover {
    color: #000000;
  }
  h4 {
    margin-top: 30px;
    font-size: 1.5rem;
  }
}

.links-container {
  max-width: 390px;
  flex-wrap: wrap;
  a, button {
    margin: 0 15px 0 0;
    font-size: 1.5rem;
  }
}

  .mobile-menu-wrapper {
    display: none;
  }

nav {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    height: 100vh;
  }

  @media screen and (max-width: 950px) {
    nav {
      max-width: 100%;
      flex-direction: row;
      padding-bottom: 10px;
      height: 40%;
      h1, h2 {
        font-size: 1.5rem;
        width: 75%;
      }
      .nav-headers-container{
        width: 70%;
        min-width: 0;
        h2 {
          hyphens: none;
          margin-top: 10px;
        }
        h4 {
          margin-top: 20px;
          font-size: 1.3rem;
        }
      }
      .links-container{
      display: none;
      }
    }

    .mobile-menu-wrapper {
    z-index: 200;
    position: fixed;
    right: 30px;
    display: block;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
  border-radius: 5px;
}

.hamburger-menu {
	position: relative;
	transform: translateY($bar-spacing);
	background: #000000;
	transition: all 0ms 300ms;
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: #000000;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: #000000;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }   
}
