
  .main-image-div {
    padding: 50px;
  }
  .main-image {
    height: auto;
    width: 100%;
  }

@media screen and (max-width: 950px) {
  .landing-page {
    nav {
      height: 20%;
    }
  }
  .main-image-div {
    margin: 0 auto;
  }
  .main-image {
    height: calc(75vh - 100px);
    width: auto;
  }
}