main{
  background-image: linear-gradient(to right, #FDE997, #EC0000);
  display: flex;
  padding: 50px;
  min-height: 100vh;
  height:100%;
  width: 100vw;
  .main-image-div {
    margin-left: min(50px)
  }
  img.main-image {
    height: auto;
    width: 100%;
  }
}
