.modal-background {
  position:fixed;
  background:rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  height: 100vh; 
  overflow: auto;
  width: 100vw;
  max-height:100vh;
  z-index: 300;
  align-items: flex-start;
  &:hover  {
    cursor: pointer;
  }
.video-close-button {
    $size: 50px;
    height: $size;
    width: $size;
    margin: 25px 25px 0 0;
    position: relative;
    line-height: $size;
    display: inline-block;

    &:before, &:after {
        $width: 75px;
        $height: 10px;
        transform: rotate(45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height/2;
        margin-left: -$width/2;
        display: block;
        height: $height;
        width: $width;
        border-radius: 10px;
        background-color: #fff;
        transition: all 0.5s ease-out;
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {

        &:before {
            transform: rotate(-45deg);
        }
      &:after {
        transform: rotate(45deg)
      }
    }
}

}

.modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 60%;
  height: 80%;
  align-items: start;
}

.preview-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  #preview-container-iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) { 
  .modal-background {
    .video-close-button {
      position: fixed;
      right: -10px;
      top: 5px;
      margin: 0;
      height: 0px;
      width: 0px;
      &:before, &:after {
        height: 50px;
        width: 5px;
      }
    }
    .modal-content {
      padding: 5px;
      height: 90%;
      width: 75%;
    }
  }
}