main.movie-view {
  background-image: linear-gradient(to right, #FDE997, #00D8FF);
  height: 100%;
  max-height: 100vh;
}

.movie-container {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}