
.genre-links-container {
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 50px 0 0;
  height: calc(100vh - 25%);
  span {
    margin: 0 15px 15px;
    height: 10px;
  }
  a {
    font-size: 2.2rem;
    height: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .genres-list-view {
    nav {
      height: 15%;
    }
  }
  .genre-links-container {
    padding: 20px 50px 20px 50px;
    height: 100vh;
    justify-content: flex-start;
    span {
      font-size: 1.5rem;
    }
  }
}