.ground-rules-div {
  padding: 50px 50px 50px 0;
  flex-direction: column;
  overflow: auto;
  p {
    font-size: .85rem;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 1.05rem;
    margin-top: 10px;
  }
}

.conduct-article-links {
  font-size: .85rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  .ground-rules-div {
    padding: 10px 90px 0 50px;
    overflow: visible;
  }
  .conduct-article-links {
    display: inline-block;
    margin-bottom: 10px;
  }
}