.genre-page {
  scroll-padding-top: 0;
}

.previously-watched {
  scroll-padding-top: 0;
}

.movies-container {
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  padding-left: 25px;
  padding-right: 75px;
  padding-top: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .genre-page, .previously-watched {
    nav {
      height: 55%;
    }
    overflow-y: auto;
    -ms-overflow-style: none;
  scrollbar-width: none;
    &::-webkit-scrollbar {
    display: none;
    }
  }
  .movies-container {
    overflow-y: visible;
    padding: 10px 50px;
    margin: 10px auto;
    justify-content: center;
  }
}
